.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-body {
  flex: 1;
  overflow: hidden;

  .mat-sidenav {
    border-right: none;
    transition: width var(--sidebar-transition);
  }
}

.layout-content {
  padding: var(--space-3);
  height: 100%;
  background-color: var(--color-bg-app);
  overflow-y: auto;
}
